@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
@import url("../node_modules/sanitize.css/sanitize.css");
body {
  color: #333;
  /*font-family: "メイリオ", sans-serif;*/
  /*font-family: 'Noto Sans JP', sans-serif;*/
  /*font-family: 'Open Sans', 'Noto Sans Japanese', sans-serif;*/
  font-family: 'Roboto', 'Noto Sans Japanese', sans-serif;
  height: 100%;
}

#chatroom {
  max-width: 600px;
  padding: 0 24px;
  margin: 0 auto;
}
#chatroom h2 span.highlight {
  color: skyblue;
}
#chatroom ul {
  list-style: none;
  padding: 0;
  max-height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#chatroom ul .item {
  position: relative;
  padding-bottom: 24px;
}
#chatroom ul .item .message_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
}
#chatroom ul .item .message_icon img {
  width: 64px;
  height: 64px;
}
#chatroom ul .item .message_content {
  margin-left: 72px;
}
#chatroom ul .item .message_content .name {
  font-size: 14px;
  font-weight: bold;
}
#chatroom ul .item .message_content .message {
  font-size: 16px;
}
#chatroom ul .item .message_content .timestamp {
  font-size: 12px;
}
#chatroom .inputfield textarea {
  width: calc(100% - 60px);
  border: 2px solid #E0E0E0;
  border-radius: 4px 0 0 4px;
  resize: none;
  padding: 8px;
  height: 44px;
}
#chatroom .inputfield button {
  float: right;
  width: 60px;
  height: 44px;
  color: #666;
  border: 2px solid #E0E0E0;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
