@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:400,400i,700";
span.highlight {
  color: #00b8e6;
}

i {
  font-style: italic;
}

body {
  color: #333;
  /*font-family: "メイリオ", sans-serif;*/
  /*font-family: 'Noto Sans JP', sans-serif;*/
  /*font-family: 'Open Sans', 'Noto Sans Japanese', sans-serif;*/
  font-family: 'Roboto', 'Noto Sans Japanese', sans-serif;
  height: 100%;
}

header {
  height: 240px;
  background-image: url("../top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}
@media screen and (max-width: 600px) {
  header {
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 180px;
  }
}
header h1 {
  position: absolute;
  margin: 0;
  right: 48px;
  bottom: 24px;
  color: #eee;
}
@media screen and (max-width: 600px) {
  header h1 {
    right: 24px;
    bottom: 12px;
  }
}

#chatroom {
  max-width: 600px;
  padding: 0 24px;
  margin: 0 auto;
}
#chatroom ul {
  list-style: none;
  padding: 0;
  max-height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#chatroom ul .item {
  position: relative;
  padding-bottom: 24px;
}
#chatroom ul .item .message_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
}
#chatroom ul .item .message_icon img {
  width: 64px;
  height: 64px;
}
#chatroom ul .item .message_content {
  margin-left: 72px;
}
#chatroom ul .item .message_content .name {
  font-size: 14px;
  font-weight: bold;
}
#chatroom ul .item .message_content .message {
  font-size: 16px;
}
#chatroom ul .item .message_content .timestamp {
  font-size: 12px;
}
#chatroom .inputfield textarea {
  width: calc(100% - 60px);
  border: 2px solid #E0E0E0;
  border-radius: 4px 0 0 4px;
  resize: none;
  padding: 8px;
  height: 44px;
}
#chatroom .inputfield button {
  float: right;
  width: 60px;
  height: 44px;
  color: #666;
  border: 2px solid #E0E0E0;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

#suyaa {
  max-width: 600px;
  padding: 0 24px;
  margin: 0 auto;
}

#social {
  max-width: 600px;
  padding: 0 24px;
  margin: 0 auto;
  padding-bottom: 24px;
}
#social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#social ul li.item {
  border: 2px solid #E0E0E0;
  border-radius: 4px;
}
#social ul li.item a {
  display: block;
  padding: 8px 32px;
  width: 100%;
  height: 100%;
  color: #333;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  #social ul li.item a {
    padding: 8px 12px;
  }
}
#social ul li.item i.fa {
  padding-right: 4px;
}

footer {
  background-color: #555;
  height: 8px;
  width: 100%;
}
