@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700';

// @import url("../node_modules/sanitize.css/sanitize.css");
// @import url("../node_modules/font-awesome/css/font-awesome.css");


@mixin basic-container(){
	max-width: 600px;
	padding: 0 24px;
	margin: 0 auto;
}
span.highlight{
	// color: skyblue;
	color: #00b8e6;
}
i{
	font-style: italic;
}
body{
	color: #333;
	/*font-family: "メイリオ", sans-serif;*/
	/*font-family: 'Noto Sans JP', sans-serif;*/
	/*font-family: 'Open Sans', 'Noto Sans Japanese', sans-serif;*/
	font-family: 'Roboto', 'Noto Sans Japanese', sans-serif;
	height: 100%;
}
header{
	height: 240px;
	@media screen and (max-width: 600px) {
		height: 200px;
	}
	@media screen and (max-width: 480px) {
		height: 180px;
	}
	background-image: url("../images/top.jpg");
	// background-size:100% auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	// img{
	// 	width: 100%;
	// 	height: auto;
	// }
	position: relative;
	h1{
		position: absolute;
		margin: 0;
		right: 48px;
		bottom: 24px;
		color: #eee;

		@media screen and (max-width: 600px) {
			right: 24px;
			bottom: 12px;
		}
	}
}
#chatroom{
	// max-width: 600px;
	// padding: 0 24px;
	// margin: 0 auto;
	@include basic-container();

	ul{
		list-style: none;
		padding: 0;

		// height: 100%;
		// overflow-y: scroll;
		// position: relative;
		max-height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
		.item{
			position: relative;
			padding-bottom: 24px;


			.message_icon{
				position: absolute;
			  top: 0;
			  left: 0;
				width: 72px;

				img{
					width: 64px;
					height: 64px;
				}
			}
			.message_content{
				margin-left: 72px;

				.name{
					font-size: 14px;
					font-weight: bold;
				}
				.message{
					font-size: 16px;
				}
				.timestamp{
					font-size: 12px;
				}
			}
		}
	}
	.inputfield{
		// position: absolute;
		// bottom: 0;
		// position: relative;
		textarea{
			width: calc(100% - 60px);
			border: 2px solid #E0E0E0;
			border-radius: 4px 0 0 4px;
			resize: none;
			padding: 8px;
			height: 44px;
		}
		button{
			float: right;
			width: 60px;
			height: 44px;

			color: #666;
			border: 2px solid #E0E0E0;
			border-radius: 0 4px 4px 0;
			border-left: none;
		}
	}
}
#pair{
	@include basic-container();
	$card-size: 124px;

	ul{
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.card{
			margin: 4px;
			width: $card-size;
			height: $card-size;
			border-radius: 4px;
			border: 1px solid #E0E0E0;

			perspective: 100px;
	    transform-style: preserve-3d;
	    transition: transform .8s;
			cursor: pointer;

			.front, .back{
				position: absolute;
				width: 100%;
		    height: 100%;
				backface-visibility: hidden;

			}
			.front{
				background: #00b8e6;;
			}
			.back{
				background: #ffffff;
				transform: rotateX(180deg);
		    line-height: $card-size;
				text-align: center;
			}
		}
		.open{
			transform: rotateX(180deg);
		}
	}


	@media screen and (max-width: 480px) {
		$card-size: 96px;
		ul{
			.card{
				width: $card-size;
				height: $card-size;

				.back{
					line-height: $card-size;
				}
			}
		}

	}
	@media screen and (max-width: 360px) {
		$card-size: 84px;
		ul{
			.card{
				width: $card-size;
				height: $card-size;

				.back{
					line-height: $card-size;
				}
			}
		}
	}

}
#suyaa{
	@include basic-container();

}
#social{
	@include basic-container();

	padding-bottom: 24px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		li.item{
			// padding: 8px 32px;
			border: 2px solid #E0E0E0;
			border-radius: 4px;

			a{
				display: block;
				padding: 8px 32px;
				@media screen and (max-width: 480px) {
					padding: 8px 12px;
				}
				width: 100%;
				height: 100%;
				color: #333;
				text-decoration: none;
			}

			i.fa{
				padding-right: 4px;
			}
		}
	}

}
footer{
	background-color: #555;
	height: 8px;
	width: 100%;

}
